<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Water+Brush&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header class="bg-light">
      <div class="container ">
        <div class="d-flex">
          <div>Logo</div>
          <nav>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>
        </div>
        <div class="d-flex">
          <div>Intro</div>
          <div class="bg-gray">Slider</div>
        </div>
      </div>
    </header>
    <main>
      <div class="container">
        <section class="d-flex">
          <div></div>
          <div></div>
          <div></div>
        </section>
        <section class="d-flex">
          <div></div>
          <div></div>
          <div></div>
        </section>
        <section>
          <ul>
            <li>Feed 1</li>
            <li>Feed 2</li>
            <li>Feed 3</li>
          </ul>
        </section>
      </div>
    </main>
    <footer>
      <div>
        <nav></nav>
        <div>&copy; 2022</div>
      </div>
    </footer>

  </body>
</html>
